<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="width:35%;margin:0 auto;">
    <h1>Новость успешно обнавлена</h1>
</div>
<div class="news-container" style="width:80%;box-shadow: 0 0 10px rgba(0,0,0,0.5);margin:20px auto;">
    <h2 style="padding-top:15px;padding-left:10px;">{{name}}</h2>

    <p style="padding:10px">{{body}}

    <p/>

    <div class="date" style="text-align: right;padding-right:15px;">{{created}}</div>

    <a href="/news">
        <button type="submit" class="btn btn-default" style="margin:20px;">ready</button>
    </a>
</div>
</body>
</html>